/* Main Page CSS, Utkarsh Kotadiya*/

/*Structure*/

body {
    background-color:darkcyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    color: teal;
}

#main-div {
    background-color:azure;
    margin: 40px;
    border-style:solid; 
    border-width: 1px;
    padding: 12px;
}

img {
    max-width: 100%;
}

.as-boxes {
    background-color:lightblue;
    padding: 10px;
    margin: 15px;
    text-align: center;
}

.as-boxes a {
    text-decoration: none;
    color: darkcyan;
}
.as-boxes a:hover {
    text-decoration: underline;
    color: brown;
}

footer {
    text-align: center;
}


/* Media Queries*/

@media only screen and (min-width:600px) {
    .column {
        display: flex;
    }

}