/* Structure */
body {
    background: url(otter1.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#content {
    width: 70%;
    margin: auto;
    background: wheat;
    border-radius: 3px;
}

/* Navigation */


/* Typography */


/* Media Queries */